{% raw %}{% extends "layouts/base.html" %}

{% load bootstrap %}

{% block breadcrumb %}
<div class="container">
    <ol class="breadcrumb main">
        <li><a href="{% url '{% endraw %}{{ cookiecutter.app_name }}:{{ cookiecutter.model_name|lower }}_list{% raw %}' %}">{% endraw %}{{ cookiecutter.app_name|title }}{% raw %}</a></li>
        <li class="active">{% block title %}{{ page_title }}{% endblock %}</li>
    </ol>
</div>
{% endblock breadcrumb %}

{% block content %}
    <div class="page-header">
        <h2>{{ page_title }}</h2>
    </div>

    <form action="." method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Save</button>
        {% if object.pk %}
        <a href="{% url '{% endraw %}{{ cookiecutter.app_name }}:{{ cookiecutter.model_name|lower }}_delete{% raw %}' object.pk %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</a>
        {% endif %}
    </form>
{% endblock %}{% endraw %}
