{% raw %}{% extends "layouts/base.html" %}

{% block breadcrumb %}
<div class="container">
    <ol class="breadcrumb main">
        <li class="active">{% block title %}{{ page_title }}{% endblock %}</li>
    </ol>
</div>
{% endblock breadcrumb %}

{% block content %}
    <div class="page-header">
        <div class="pull-right"><a class="btn btn-primary" href="{% url '{% endraw %}{{ cookiecutter.app_name }}:{{ cookiecutter.model_name|lower }}_create{% raw %}' %}"><span class="glyphicon glyphicon-plus"></span> Add</a></div>
        <h2>{{ page_title }}</h2>
    </div>


    <table class="table table-striped table-bordered">
        <tr>
            <th>Title</th>
            <th>Last Modified</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td><a href="{% url '{% endraw %}{{ cookiecutter.app_name }}:{{ cookiecutter.model_name|lower }}_detail{% raw %}' object.id %}">{{ object.title }}</a></td>
                <td>{{ object.modified|date:"m/d/Y" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">You don't currently have any {% endraw %}{{ cookiecutter.app_name }}{% raw %}. Click the add button above to <strong>add</strong> a {% endraw %}{{ cookiecutter.model_name|lower }}{% raw %}.</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}{% endraw %}
