{% raw %}{% extends "layouts/base.html" %}

{% load bootstrap %}

{% block content %}
    <div class="page-header">
        <div class="pull-right"><a class="btn btn-primary" href="{% url '{% endraw %}{{ cookiecutter.app_name }}:{{ cookiecutter.model_name|lower }}_edit{% raw %}' object.pk %}"><span class="glyphicon glyphicon-edit"></span> Edit</a></div>
        <ol class="breadcrumb">
            <li><a href="{% url '{% endraw %}{{ cookiecutter.app_name }}:{{ cookiecutter.model_name|lower }}_index{% raw %}' %}">{% endraw %}{{ cookiecutter.app_name }}{% raw %}</a></li>
            <li class="active">{% block title %}{{ object.title }}{% endblock %}</li>
        </ol>
    </div>

    <p>{{ object.description }}</p>
{% endblock %}{% endraw %}